<% if @popular_links.empty? %>
	<a href="#" class="collection-item">No popular links yet!</a>
<% else %>
	<% @popular_links.each do |short, click_count| %>
			<a href="<%= full_url(short) %>" class="collection-item small" target="_blank"><%= full_url(short) %>
			<span class="new badge"><%= click_count %></span>
		</a>
	<% end %>
<% end %>


