<div class="container">
<h1>Everyone Hates A Long URL</h1>

<p>Long URLs are not only annoying but hard to remember. There comes a time when you need to remeber a very long URL and you are like what's that site again? <a href='#' target='_blank'>http://blah..blah..blah...?</a></p>

<img src="https://lh4.ggpht.com/qLbdneVfyy1X_DdaRZQym9txxo2eJdpm6jCnjvKXItFSUDfVj7Mm6_BR5OMl2jS_BhA_=w300" />
<img src="https://8e87e529bbed2a6e545e-d8eb574a7c280774526790081ce69970.ssl.cf1.rackcdn.com/5248_URL_lg16x9.png" />
<p>Don't worry, <a href="#!">make-me-shot</a> is here to the rescue. It makes it easy for you to handle this kind of problem. It features includes</p>
<ol>
	<li>create custom URLs</li>
	<li>customizing URL slugs</li>
	<li>tracking URL usage statistics</li>
	<li>disabling created urls</li>
	<li>access to URL with hit counts</li>
	<li>access to top users</li>
	<li>API for registered users</li>
	<li>and lots more..</li>
</ol>


<h2>Wow! This sound so good to be true, so how much do I have to pay?</h2>
<img src="https://static.spiceworks.com/attachments/post/0011/2147/Wow-face1.jpg" />
<p>Nope, its completely free, and we always be!. Experience the awesome goodness by simply signing up <a href="/register">here.</a> and start enjoying what you've been missing.</p>



<h3>What is the maximum number of URLs I can shorten?</h3>

<blockquote>There are no limits, there are only plateaus, and you must not stay here. You must go beyond them. </blocquote>
<cite>-Bruce Lee</cite>



</div>
