<div class="container">
<h1>Advertisement</h1>

<p>Advert placement is welcome and they only cost about $250.00 for the list type of about 100 X 100 pixels.</p>

<p>Please find below different categories of advert</p>

<ol>
	<li>Bronze </li>
	<li>Silver</li>
	<li>Gold</li>
	<li>Copper</li>
	<li>Plastic</li>
	<li>Wood</li>
</ol>


<h2>Price Table</h2>

<p>The prices listed here are not negotiable</p>

<table>
        <thead>
          <tr>
              <th data-field="id">Type</th>
              <th data-field="name">Dimension (pixels)</th>
              <th data-field="price">Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Bronze</td>
            <td>100 x 100 </td>
            <td>$250.00</td>
          </tr>
          <tr>
            <td>Silver</td>
            <td>250 x 250</td>
            <td>$500.00</td>
          </tr>
          <tr>
            <td>Gold</td>
            <td>350 x 350</td>
            <td>$750.00</td>
          </tr>
		  
		  <tr>
            <td>Copper</td>
            <td>450 x 450</td>
            <td>$850.00</td>
          </tr>
		  
		  <tr>
            <td>Plastic</td>
            <td>80 x 80</td>
            <td>$200.00</td>
          </tr>
		  
		  <tr>
            <td>Wood</td>
            <td>85 x 85</td>
            <td>$150.00</td>
          </tr>
		  
		  <tr>
            <td>Custom</td>
            <td>-</td>
            <td>call us</td>
          </tr>
        </tbody>
      </table>
            





</div>
