<div class="container">
<h1>Do you have a complaint or feedback for us?</h1>

<p>We quite appreciate any feedback or complaint from our users, please send us a mail when you do have any.</p>

<div class="row">
	<div class="col s12">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.1703765001744!2d3.376697014615169!3d6.500103495298038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8c61cd62c6d5%3A0xcc407d2f7e83237f!2sMoleye+St%2C+Lagos+234-01!5e0!3m2!1sen!2sng!4v1459796537711" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>

<hr />
<h3>Address</h3>

<address>
	55, Moleye Street, <br />
	Sabo Yaba, <br />
	Lagos. 
</address>
<hr />
<h3>Phone Lines</h3>

<address>
	Tel(+234) (909)-(916)-(57)<br />
	Skype: DamianSimonPeter<br />
	Hangout: DamianSimonPeter
	Email: simon.peter[at]andela.com
</address>



</div>
