<div class="container">
  <div class="row center">
    <div class="col s12">
    <h2 class="tab red-text text- darken-2">Oops, deleted!</h2>
  </div>
</div>
  
<div class="row center">
  
  <div class="nav-wrapper">
  
          <div class="row">
            <div class="col s6 offset-s3">
          
          <div class="card">
            <div class="card-image">
              <img src="http://www.datarecoverybd.com/wp-content/uploads/2015/02/search-for-deleted-files-300.png">
            </div>

            <div class="card-panel deep-orange lighten-4">
          <p>It appears that the link you entered may have been deleted or does not exist. Please create a new one <a href="/">here</a>, to continue. Thanks.
          </p>
        </div>
          </div>
        
            </div>
          </div>
    </div>

</div>

</div><!-- stop here -->