<div class="container">
  <div class="row center">
    <div class="col s12">
    <h2 class="tab red-text text- darken-2">Oops, disabled!</h2>
  </div>
</div>
  
<div class="row center">
  
  <div class="nav-wrapper">
  
          <div class="row">
            <div class="col s6 offset-s3">
          
          <div class="card">
            <div class="card-image">
              <img src="http://thumbs.dreamstime.com/x/3d-man-quest-exclamation-sign-13645006.jpg">
            </div>

            <div class="card-panel deep-orange lighten-4">
          <p>The link you requested has been disabled by the user. If you're the owner, please enable it from the <a href="/dashboard">dashboard</a> to continue. Thanks.
          </p>
        </div>
          </div>
        
            </div>

            <div class="col s6">

        
            </div>
          </div>
    </div>

</div>   
</div><!-- stop here -->
