<div class="container">
	<div class="row center">
		<div class="col s12">
		<h2 class="tab">Shorten - Share - Enjoy</h2>
	</div>
</div>
	
<div class="row center jumbo">
	
	<div class="row">
		<div class="col s12">
			<div id="shot_url" class="card-panel">
				<h4>http://localhost:3000/dj32s</h4>
			</div>
		</div>
	</div>	
	<div class="nav-wrapper">
      <form>
        <div class="row">
        	<div class="col s12">
        	<input id="search" type="search" placeholder="Enter URL to shorten" style="font-size:25px">	
        	</div>
        </div>
        <div class="row">
          <div class="col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action">make-me-shot
  </button></div>
        </div>
      </form>
	  
	  
    </div>

</div>


<div class="row">
	
</div>
 <div class="row">
      
      
      <div class="col s4">
	       <div class="collection with-header">
	       	<h5 class="collection-header"><i class="material-icons">links</i>
Popular Links</h5>
	        <a href="#!" class="collection-item">http://www.make-it-shot.com/it-is-now-shot <span class="new badge"> 200</span></a>
	       <a href="#!" class="collection-item">http://www.make-it-shot.com/it-is-now-shot <span class="new badge"> 100</span></a>
	       <a href="#!" class="collection-item">http://www.make-it-shot.com/it-is-now-shot <span class="new badge"> 70</span></a>
	       <a href="#!" class="collection-item">http://www.make-it-shot.com/it-is-now-shot <span class="new badge"> 80</span></a>
	       <a href="#!" class="collection-item">http://www.make-it-shot.com/it-is-now-shot <span class="new badge"> 60</span></a>
	       <a href="#!" class="collection-item">http://www.make-it-shot.com/it-is-now-shot <span class="new badge"> 30</span></a>
	       
	      </div>
            
      </div>
      
      
      
      <div class="col s4">
        
          <ul class="collection with-header">
          	<li class="collection-header"><h5><i class="material-icons">grade</i> Influential Users</h5></li>  	
    <li class="collection-item avatar">
            <%= image_tag("user.png", class:"circle", alt:"Profile Picture") %>
      <span class="title">John Doe</span>
      <p>Member Since: 3 days<br>
         Shortened Links: 90 <br>
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">visibility
</i></a>
    </li>
    <li class="collection-item avatar">
      <%= image_tag("jane.png", class:"circle", alt:"Profile Picture") %>
      <span class="title">Jane Doe</span>
      <p>Member Since: 2 days<br>
         Shortened Links: 30<br>
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">visibility
</i></a>
    </li>
    <li class="collection-item avatar">
      <%= image_tag("jack.png", class:"circle", alt:"Profile Picture") %>
      <span class="title">Jack Pearl</span>
      <p>Member Since: 1 day<br>
         Shortened Links: 10
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">visibility
</i></a>
    </li>
    <li class="collection-item avatar">
      <%= image_tag("me.png", class:"circle", alt:"Profile Picture") %>
      <span class="title">Melf Rack</span>
      <p>Member Since: 6 hours<br>
         Shortened Links: 4
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">visibility
</i></a>
    </li>
  </ul>
        
      </div>
      
      
      <div class="col s4">
      	<div class="collection with-header">
	       	<h5 class="collection-header"><i class="material-icons">new_releases</i>Recently Added</h5>
	        <a href="#!" class="collection-item">http://www.make-it-shot.com/it-is-now-shot</a>
	       <a href="#!" class="collection-item">http://www.make-it-shot.com/it-is-now-shot</a>
	       <a href="#!" class="collection-item">http://www.make-it-shot.com/it-is-now-shot</a>
	       <a href="#!" class="collection-item">http://www.make-it-shot.com/it-is-now-shot</a>
	       <a href="#!" class="collection-item">http://www.make-it-shot.com/it-is-now-shot</a>
	       <a href="#!" class="collection-item">http://www.make-it-shot.com/it-is-now-shot</a>
	       
	      </div>
       </div>
    </div>
   
</div>