<div class="row">
<%= render 'shared/side_bar' %>
  	
  	<div class="col s9">
  		<h2 class="tab">New Link</h2>
  		<div class="row">
			<div class="divider"></div><br />
		<div class="row">
		<% if flash[:notice] %>
			<div class="col s12">
				<div id="shot_url" class="card-panel">
					<h5 id="copy_target"><%= full_url(notice) %></h5>
					
					<span class="pull-right">
						<button class="btn waves-effect waves-light blue-grey" id="btn_copy" data-clipboard-target="#copy_target">Copy
    <i class="material-icons right"></i>
						</button>
					</span>
				</div>
			</div>
		<% end %> 
	</div>	
  			<div class="col s12">
        		<%= render 'links/partials/form' %>
  				  			</div>
  		</div>
  	</div>
</div>
