<div class="row">
<%= render 'shared/side_bar' %>
  	
  	<div class="col s9">
  		<h2 class="tab">New Link</h2>
  		<div class="row">
			<div class="divider"></div><br />
		<% if flash[:notice] %>
			<div class="col s12">
				<div id="shot_url" class="card-panel">
					<h5><%= full_url(notice) %></h5>
				</div>
			</div>
		<% end %> 
  			<div class="col s12">
        		<%= render 'links/partials/form' %>
  				  			</div>
  		</div>
  	</div>
</div>
