<div class="row">
<%= render 'shared/side_bar' %>
  	<div class="col s9">
  		<p id="notice"><%= notice %></p>
  		<h2 class="tab">Popular URLs</h2>
  		
  		<div class="row">
  			<div class="col s12">
				<div class="divider"></div> <br />
<div class="collection">
			<%= render 'links/partials/popular_links' %>		
      </div>
	  			</div>
  		</div>
  	</div>
</div>
